.main-location,
.main-security {
  background-color: var(--bg-color-light);
}

.main-reason li::before,
.main-how li::before {
  --markers-gradient: 180deg, var(--gradient-colors);
  background: -webkit-linear-gradient(var(--markers-gradient));
  background: -moz-linear-gradient(var(--markers-gradient));
  background: -o-linear-gradient(var(--markers-gradient));
  background: linear-gradient(var(--markers-gradient));
}

.main-price h3 {
  --price-gradient: 90deg, var(--gradient-colors);
  background: -webkit-linear-gradient(var(--price-gradient));
  background: -moz-linear-gradient(var(--price-gradient));
  background: -o-linear-gradient(var(--price-gradient));
  background: linear-gradient(var(--price-gradient));
}

.main-carousel .controls i {
  --carousel-controls-gradient: 90deg, var(--gradient-colors);
  background: -webkit-linear-gradient(var(--carousel-controls-gradient));
  background: -moz-linear-gradient(var(--carousel-controls-gradient));
  background: -o-linear-gradient(var(--carousel-controls-gradient));
  background: linear-gradient(var(--carousel-controls-gradient));
}

.main-price h3,
.main-reason li::before,
.main-how li::before,
.main-carousel .controls i {
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -o-background-clip: text;
  background-clip: text;

  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  -o-text-fill-color: transparent;
  color: transparent;
}

.img-frame {
  --gradient: 120deg, var(--gradient-colors);
  --frame-gradient: -webkit-linear-gradient(var(--gradient));
  --frame-gradient: -moz-linear-gradient(var(--gradient));
  --frame-gradient: -o-linear-gradient(var(--gradient));
  --frame-gradient: linear-gradient(var(--gradient));
  --bg-gradient: linear-gradient(var(--bg-color-dark), var(--bg-color-dark));

  background-image: var(--bg-gradient), var(--frame-gradient);
  background-clip: content-box, border-box;
  background-origin: border-box;
}
