:root {
  --bg-color-light: #ffffff;
  --bg-color-dark: #111111;

  --button-bg: #f5a366;
  --button-bg-hover: #f0b283;

  --gradient-colors: #abc2e8, #f2bcb9, #f5a366;
}

:root,
nav ul,
.header-burger span,
.header-burger::after,
.header-burger::before,
.main-location,
.main-security {
  background-color: var(--bg-color-light);
}

body {
  background-color: var(--bg-color-dark);
}

button {
  background-color: var(--button-bg);
}

button:hover {
  background-color: var(--button-bg-hover);
}

.logo-text {
  --logo-gradient: 270deg, var(--gradient-colors);
  background: -webkit-linear-gradient(var(--logo-gradient));
  background: -moz-linear-gradient(var(--logo-gradient));
  background: -o-linear-gradient(var(--logo-gradient));
  background: linear-gradient(var(--logo-gradient));
}

.main-catalog {
  --catalog-gradient: 120deg, var(--gradient-colors);
  background-image: -webkit-linear-gradient(var(--catalog-gradient));
  background-image: -moz-linear-gradient(var(--catalog-gradient));
  background-image: -o-linear-gradient(var(--catalog-gradient));
  background-image: linear-gradient(var(--catalog-gradient));
}

.main-reason li::before,
.main-how li::before {
  --markers-gradient: 180deg, var(--gradient-colors);
  background: -webkit-linear-gradient(var(--markers-gradient));
  background: -moz-linear-gradient(var(--markers-gradient));
  background: -o-linear-gradient(var(--markers-gradient));
  background: linear-gradient(var(--markers-gradient));
}

.main-price h3 {
  --price-gradient: 90deg, var(--gradient-colors);
  background: -webkit-linear-gradient(var(--price-gradient));
  background: -moz-linear-gradient(var(--price-gradient));
  background: -o-linear-gradient(var(--price-gradient));
  background: linear-gradient(var(--price-gradient));
}

.main-carousel .controls i {
  --carousel-controls-gradient: 90deg, var(--gradient-colors);
  background: -webkit-linear-gradient(var(--carousel-controls-gradient));
  background: -moz-linear-gradient(var(--carousel-controls-gradient));
  background: -o-linear-gradient(var(--carousel-controls-gradient));
  background: linear-gradient(var(--carousel-controls-gradient));
}

.logo-text,
.main-price h3,
.main-reason li::before,
.main-how li::before,
.main-carousel .controls i {
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -ms-background-clip: text;
  -o-background-clip: text;
  background-clip: text;

  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  -ms-text-fill-color: transparent;
  -o-text-fill-color: transparent;
  color: transparent;
}

.img-frame {
  --gradient: 120deg, var(--gradient-colors);
  --frame-gradient: -webkit-linear-gradient(var(--gradient));
  --frame-gradient: -moz-linear-gradient(var(--gradient));
  --frame-gradient: -o-linear-gradient(var(--gradient));
  --frame-gradient: linear-gradient(var(--gradient));
  --bg-gradient: linear-gradient(var(--bg-color-dark), var(--bg-color-dark));

  background-image: var(--bg-gradient), var(--frame-gradient);
  background-clip: content-box, border-box;
  background-origin: border-box;
}

@media (min-width: 768px) and (max-width: 1439px) {
  nav ul {
    background-color: var(--bg-color-dark) !important;
  }
}

@media (min-width: 1440px) {
  nav ul {
    background-color: var(--bg-color-dark) !important;
  }
}
