/* .header-burger {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  height: 19px;
  width: 30px;
} */

/* .header-burger span {
  position: absolute;
  height: 3px;
  width: 80%;
  border-radius: 1.5px;

  --burger-span-transform: scale(1);
  -webkit-transform: var(--burger-span-transform);
  -moz-transform: var(--burger-span-transform);
  -o-transform: var(--burger-span-transform);
  transform: var(--burger-span-transform);

  --burger-span-transition: all 0.1s ease-in-out 0s;
  -webkit-transition: var(--burger-span-transition);
  -moz-transition: var(--burger-span-transition);
  -o-transition: var(--burger-span-transition);
  transition: var(--burger-span-transition);
} */

.header-burger::after,
.header-burger::before {
  position: absolute;
  content: '';
  height: 3px;
  width: 100%;
  border-radius: 1.5px;

  --burger-transform: rotate(0) translate(0, 0);
  -webkit-transform: var(--burger-transform);
  -moz-transform: var(--burger-transform);
  -o-transform: var(--burger-transform);
  transform: var(--burger-transform);
}

.header-burger::before {
  top: 0;
}

.header-burger::after {
  bottom: 0;
}

/* .nav {
  display: none;
  position: relative;

  --nav-animation: burgerAnimation 0.2s;
  -webkit-animation: var(--nav-animation);
  -moz-animation: var(--nav-animation);
  -o-animation: var(--nav-animation);
  animation: var(--nav-animation);
} */

.nav ul {
  position: absolute;
  display: flex;
  gap: 30px;
  top: 0px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 25px 0;
  width: 100%;
}

.nav.opened {
  display: flex;
}

.header-burger.opened span {
  --burger-opened-span-transform: scale(0);
  -webkit-transform: var(--burger-opened-span-transform);
  -moz-transform: var(--burger-opened-span-transform);
  -o-transform: var(--burger-opened-span-transform);
  transform: var(--burger-opened-span-transform);
}

.header-burger.opened::before {
  --burger-opened-before-transform: rotate(-45deg) translate(0, -50%);
  -webkit-transform: var(--burger-opened-before-transform);
  -moz-transform: var(--burger-opened-before-transform);
  -o-transform: var(--burger-opened-before-transform);
  transform: var(--burger-opened-before-transform);
  top: 50%;
}

.header-burger.opened::after {
  --burger-opened-after-transform: rotate(45deg) translate(0, 50%);
  -webkit-transform: var(--burger-opened-after-transform);
  -moz-transform: var(--burger-opened-after-transform);
  -o-transform: var(--burger-opened-after-transform);
  transform: var(--burger-opened-after-transform);
  bottom: 50%;
}

@media (min-width: 768px) and (max-width: 1439px) {
  .header-burger {
    display: none;
  }

  .nav {
    display: block;
  }

  .nav ul {
    flex-direction: row;
    gap: 0px;
    padding: 0 20px;
  }
}

@media (min-width: 1440px) {
  .header-burger {
    display: none;
  }

  .nav {
    display: inherit;
    width: 50%;
    padding: 0 45px;
  }

  .nav ul {
    flex-direction: row;
    gap: 0px;
    padding: 0;
  }
}

/* @-webkit-keyframes burgerAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes burgerAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-o-keyframes burgerAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes burgerAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
} */
