.main-carousel {
  --photo-width-s: 384px;
  --photo-width-lg: 480px;
  --photo-width: var(--photo-width-s);

  --controls-size-s: 35px;
  --controls-size-lg: 60px;
  --controls-size: var(--controls-size-s);

  --controls-margin-s: 20px;
  --controls-margin-lg: 45px;
  --controls-margin: var(--controls-margin-s);
}

.main-carousel input[type='radio'] {
  display: none;
}

.main-carousel label {
  cursor: pointer;
  text-decoration: none;
}

.main-carousel .slides {
  position: relative;
  height: 100%;
  z-index: 1;
}

.main-carousel .overflow {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.main-carousel .slides .inner {
  transition: margin-left 800ms cubic-bezier(0.77, 0, 0.175, 1);
  width: calc(var(--photo-width) * 6);
  height: 100%;
}

.main-carousel .slides .slide {
  height: 100%;
  width: 16.6666%;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-carousel .controls {
  z-index: 5;
  position: relative;
  top: 50%;
}

.main-carousel .controls label {
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);

  display: none;
  align-items: center;
  justify-content: center;
  width: var(--controls-size);
  height: var(--controls-size);

  border: none;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3);
  opacity: 0.5;

  -webkit-transition: opacity 0.2s ease-out;
  -moz-transition: opacity 0.2s ease-out;
  -o-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
}

.main-carousel .controls label:hover {
  opacity: 1;
}

.main-carousel #slide1:checked ~ .slides .inner {
  margin-left: 0;
}
.main-carousel #slide2:checked ~ .slides .inner {
  margin-left: calc(var(--photo-width) * -0.96);
}
.main-carousel #slide3:checked ~ .slides .inner {
  margin-left: calc(var(--photo-width) * -1.96);
}
.main-carousel #slide4:checked ~ .slides .inner {
  margin-left: calc(var(--photo-width) * -2.96);
}

.main-carousel #slide1:checked ~ .controls label:nth-child(2),
.main-carousel #slide2:checked ~ .controls label:nth-child(3),
.main-carousel #slide3:checked ~ .controls label:nth-child(4),
.main-carousel #slide4:checked ~ .controls label:nth-child(1) {
  float: right;
  margin: 0 var(--controls-margin);
  display: flex;
}

.main-carousel #slide1:checked ~ .controls label:nth-child(4),
.main-carousel #slide2:checked ~ .controls label:nth-child(1),
.main-carousel #slide3:checked ~ .controls label:nth-child(2),
.main-carousel #slide4:checked ~ .controls label:nth-child(3) {
  float: left;
  margin: 0 var(--controls-margin);
  display: flex;
  -webkit-transform: translate(0, -50%) rotate(180deg);
  -moz-transform: translate(0, -50%) rotate(180deg);
  -o-transform: translate(0, -50%) rotate(180deg);
  transform: translate(0, -50%) rotate(180deg);
}

@media (min-width: 768px) and (max-width: 1439px) {
  .main-carousel #slide2:checked ~ .slides .inner {
    margin-left: calc(var(--photo-width) * -1);
  }
  .main-carousel #slide3:checked ~ .slides .inner {
    margin-left: calc(var(--photo-width) * -2);
  }
  .main-carousel #slide4:checked ~ .slides .inner {
    margin-left: calc(var(--photo-width) * -3);
  }
}

@media (min-width: 1440px) {
  .main-carousel {
    --photo-width: var(--photo-width-lg);
    --controls-size: var(--controls-size-lg);
    --controls-margin: var(--controls-margin-lg);
  }

  .main-carousel #slide2:checked ~ .slides .inner {
    margin-left: calc(var(--photo-width) * -1);
  }
  .main-carousel #slide3:checked ~ .slides .inner {
    margin-left: calc(var(--photo-width) * -2);
  }
  .main-carousel #slide4:checked ~ .slides .inner {
    margin-left: calc(var(--photo-width) * -3);
  }
}
