body {
  font-family: var(--font-common);
  font-size: var(--font-size-common);
  line-height: var(--line-common);
  color: var(--font-color-light);
  font-weight: 600;
}

h1 {
  font-family: var(--font-headers);
  font-size: var(--font-size-h1);
  line-height: var(--line-h1);
}

h2 {
  font-family: var(--font-headers);
  font-size: var(--font-size-h2);
  line-height: var(--line-h2);
}

h3 {
  font-family: var(--font-common);
  font-size: var(--font-size-h3);
  line-height: var(--line-h3);
}

/* h4 {
  font-family: var(--font-common);
  font-size: var(--font-size-h4);
  line-height: var(--line-h4);
} */

h5 {
  font-family: var(--font-common);
  font-size: var(--font-size-h5);
  line-height: var(--line-h5);
}

.main-location,
.main-security,
.main-catalog {
  color: var(--font-color-dark);
}

.footer-social {
  font-size: 35px;
}

i.fa-vk {
  font-size: 22px;
}

@media (min-width: 1440px) {
  :root {
    --font-size-common: var(--font-size-common-desktop);
    --line-common: var(--line-common-desktop);

    --font-size-h1: var(--font-size-h1-desktop);
    --line-h1: var(--line-h1-desktop);

    --font-size-h2: var(--font-size-h2-desktop);
    --line-h2: var(--line-h2-desktop);

    --font-size-h3: var(--font-size-h3-desktop);
    --line-h3: var(--line-h3-desktop);

    /* --font-size-h4: var(--font-size-h4-desktop);
    --line-h4: var(--line-h4-desktop); */

    --font-size-h5: var(--font-size-h5-desktop);
    --line-h5: var(--line-h5-desktop);
  }
}
