.main-catalog {
  --bullet-color: #ffffff;
  --slide-bg-color: #ffffff;

  --slide-radius: 22px;
  --slide-radius-desktop: 30px;
  --slide-p: 30px;
  --slide-p-desktop: 50px;
  --slide-spacingy: 20px;
  --slide-spacingy-desktop: 30px;
  --img-size: 240px;
  --img-size-desktop: 330px;

  --slide-width: calc(var(--slide-p) * 2 + var(--img-size));
  --slide-half-width: calc(var(--slide-width) / 2);
  --slide-gap-width: calc(var(--slide-width) + var(--slide-gap));

  --slide-gap: 20px;
  --slide-gap-desktop: 30px;

  --bullets-my: 110px;
  --bullets-my-desktop: 160px;
  --bullet-size: 10px;
  --bullets-gap: 10px;
  --bullet-size-desktop: 15px;
}

.main-catalog h2 {
  margin-bottom: var(--bullets-my);
}

.main-catalog input[type='radio'] {
  display: none;
}

.main-catalog label,
.main-catalog button {
  cursor: pointer;
}

.main-catalog .catalog-overflow {
  position: relative;
  margin-bottom: var(--bullets-my);
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.main-catalog .catalog-inner {
  position: relative;
  left: 0;
  --first-position: calc(50% - var(--slide-half-width));

  height: 100%;
  display: flex;
  gap: var(--slide-gap);
  align-items: center;
  justify-content: center;

  --slides-width: calc(var(--slide-width) * var(--slides-number));
  --slides-gaps-width: calc(var(--slide-gap) * (var(--slides-number) - 1));
  width: calc(var(--slides-width) + var(--slides-gaps-width));

  --innter-transition: left 800ms cubic-bezier(0.77, 0, 0.175, 1);
  -webkit-transition: var(--innter-transition);
  -moz-transition: var(--innter-transition);
  -o-transition: var(--innter-transition);
  transition: var(--innter-transition);
}

.main-catalog .catalog-inner .slide {
  float: left;
  display: block;
  padding: var(--slide-p);
  border-radius: var(--slide-radius);
  background-color: var(--slide-bg-color);
  filter: saturate(50%);
  opacity: 0.5;

  --bullet-filter-transition: filter 0.2s ease-out;
  -webkit-transition: var(--bullet-filter-transition);
  -moz-transition: var(--bullet-filter-transition);
  -o-transition: var(--bullet-filter-transition);
  transition: var(--bullet-filter-transition);

  --bullet-opacity-transition: opacity 0.2s ease-out;
  -webkit-transition: var(--bullet-opacity-transition);
  -moz-transition: var(--bullet-opacity-transition);
  -o-transition: var(--bullet-opacity-transition);
  transition: var(--bullet-opacity-transition);
}

.main-catalog .catalog-inner .slide:hover {
  filter: saturate(90%);
  opacity: 0.7;
}

.main-catalog .catalog-inner .slide:hover > button {
  background-color: var(--button-bg);
}

.main-catalog .catalog-inner h5 {
  margin-bottom: var(--slide-spacingy);
  text-align: left;
}

.main-catalog .catalog-inner img {
  margin-bottom: var(--slide-spacingy);
  display: block;
  width: var(--img-size);
  height: 100%;
}

.main-catalog .catalog-bullets {
  display: flex;
  justify-content: center;
  gap: var(--bullets-gap);
}

.main-catalog .catalog-bullets .bullet {
  width: var(--bullet-size);
  height: var(--bullet-size);
  border: 1px solid var(--bullet-color);
  border-radius: 50%;

  --bullet-filter-transition: all 0.2s ease-out;
  -webkit-transition: var(--bullet-filter-transition);
  -moz-transition: var(--bullet-filter-transition);
  -o-transition: var(--bullet-filter-transition);
  transition: var(--bullet-filter-transition);
}

.main-catalog .catalog-bullets .bullet:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.main-catalog #slide_1:checked ~ .catalog-overflow .catalog-inner {
  left: var(--first-position);
}
.main-catalog #slide_2:checked ~ .catalog-overflow .catalog-inner {
  --offset: calc(1 * var(--slide-gap-width));
  left: calc(var(--first-position) - var(--offset));
}
.main-catalog #slide_3:checked ~ .catalog-overflow .catalog-inner {
  --offset: calc(2 * var(--slide-gap-width));
  left: calc(var(--first-position) - var(--offset));
}
.main-catalog #slide_4:checked ~ .catalog-overflow .catalog-inner {
  --offset: calc(3 * var(--slide-gap-width));
  left: calc(var(--first-position) - var(--offset));
}
.main-catalog #slide_5:checked ~ .catalog-overflow .catalog-inner {
  --offset: calc(4 * var(--slide-gap-width));
  left: calc(var(--first-position) - var(--offset));
}
.main-catalog #slide_6:checked ~ .catalog-overflow .catalog-inner {
  --offset: calc(5 * var(--slide-gap-width));
  left: calc(var(--first-position) - var(--offset));
}
.main-catalog #slide_7:checked ~ .catalog-overflow .catalog-inner {
  --offset: calc(6 * var(--slide-gap-width));
  left: calc(var(--first-position) - var(--offset));
}
.main-catalog #slide_8:checked ~ .catalog-overflow .catalog-inner {
  --offset: calc(7 * var(--slide-gap-width));
  left: calc(var(--first-position) - var(--offset));
}
.main-catalog #slide_9:checked ~ .catalog-overflow .catalog-inner {
  --offset: calc(8 * var(--slide-gap-width));
  left: calc(var(--first-position) - var(--offset));
}

.main-catalog #slide_1:checked ~ .catalog-bullets label:nth-child(1) {
  background-color: var(--bullet-color);
}
.main-catalog #slide_2:checked ~ .catalog-bullets label:nth-child(2) {
  background-color: var(--bullet-color);
}
.main-catalog #slide_3:checked ~ .catalog-bullets label:nth-child(3) {
  background-color: var(--bullet-color);
}
.main-catalog #slide_4:checked ~ .catalog-bullets label:nth-child(4) {
  background-color: var(--bullet-color);
}
.main-catalog #slide_5:checked ~ .catalog-bullets label:nth-child(5) {
  background-color: var(--bullet-color);
}
.main-catalog #slide_6:checked ~ .catalog-bullets label:nth-child(6) {
  background-color: var(--bullet-color);
}
.main-catalog #slide_7:checked ~ .catalog-bullets label:nth-child(7) {
  background-color: var(--bullet-color);
}
.main-catalog #slide_8:checked ~ .catalog-bullets label:nth-child(8) {
  background-color: var(--bullet-color);
}
.main-catalog #slide_9:checked ~ .catalog-bullets label:nth-child(9) {
  background-color: var(--bullet-color);
}

.main-catalog .catalog-inner:has(label:nth-child(1):last-child) {
  --slides-number: 1;
}
.main-catalog .catalog-inner:has(label:nth-child(2):last-child) {
  --slides-number: 2;
}
.main-catalog .catalog-inner:has(label:nth-child(3):last-child) {
  --slides-number: 3;
}
.main-catalog .catalog-inner:has(label:nth-child(4):last-child) {
  --slides-number: 4;
}
.main-catalog .catalog-inner:has(label:nth-child(5):last-child) {
  --slides-number: 5;
}
.main-catalog .catalog-inner:has(label:nth-child(6):last-child) {
  --slides-number: 6;
}
.main-catalog .catalog-inner:has(label:nth-child(7):last-child) {
  --slides-number: 7;
}
.main-catalog .catalog-inner:has(label:nth-child(8):last-child) {
  --slides-number: 8;
}
.main-catalog .catalog-inner:has(label:nth-child(9):last-child) {
  --slides-number: 9;
}
.main-catalog .catalog-inner:has(label:nth-child(10):last-child) {
  --slides-number: 10;
}

@media (min-width: 1440px) {
  .main-catalog {
    --slide-radius: var(--slide-radius-desktop);
    --slide-p: var(--slide-p-desktop);
    --slide-spacingy: var(--slide-spacingy-desktop);
    --slide-gap: var(--slide-gap-desktop);

    --img-size: var(--img-size-desktop);
    --bullets-my: var(--bullets-my-desktop);
    --bullet-size: var(--bullet-size-desktop);
  }
}
