body {
  width: 414px;
}

.header-container,
.header-contacts {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-contacts {
  width: 60%;
}

.logo {
  width: 40px;
}

nav {
  width: 50%;
}

nav ul {
  display: flex;
  justify-content: space-between;
}

.main-reason li::before,
.main-how li::before {
  content: 'X';
  margin-right: 0.5em;
  font-weight: 400;

  background: -webkit-linear-gradient(-90deg, #abc2e8, #f2bcb9, #f5a366);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (min-width: 768px) and (max-width: 1199px) {
  body {
    width: 720px;
  }
}

@media (min-width: 1200px) {
  body {
    width: 1140px;
  }

  .logo {
    width: 50px;
  }
}
