:root {
  --img-radius: 18px;
  --img-radius-desktop: 30px;

  --img-2-width: 215px;
  --img-2-width-desktop: 430px;
  --img-2-height: 325px;
  --img-2-height-desktop: 650px;

  --img-1-width: 210px;
  --img-1-width-desktop: 325px;
  --img-1-height: 290px;
  --img-1-height-desktop: 490px;

  --img-3-width: 275px;
  --img-3-width-desktop: 415px;
  --img-3-height: 375px;
  --img-3-height-desktop: 540px;

  --frame-2-width: 215px;
  --frame-2-width-desktop: 430px;
  --frame-2-height: 300px;
  --frame-2-height-desktop: 610px;

  --frame-1-width: 185px;
  --frame-1-width-desktop: 315px;
  --frame-1-height: 265px;
  --frame-1-height-desktop: 445px;

  --frame-3-width: 255px;
  --frame-3-width-desktop: 295px;
  --frame-3-height: 360px;
  --frame-3-height-desktop: 445px;

  --wrapper-2-width: calc(var(--img-2-width) + 15px);
  --wrapper-2-width-desktop: calc(var(--img-2-width) + 40px);
  --wrapper-2-height: calc(var(--img-2-height) + 15px);
  --wrapper-2-height-desktop: calc(var(--img-2-height) + 30px);

  --wrapper-1-width: var(--img-1-width);
  --wrapper-1-width-desktop: var(--img-1-width);
  --wrapper-1-height: calc(var(--img-1-height) + 15px);
  --wrapper-1-height-desktop: calc(var(--img-1-height) + 30px);

  --wrapper-3-width: calc(var(--img-3-width) + 30px);
  --wrapper-3-width-desktop: var(--img-3-width);
  --wrapper-3-height: calc(var(--img-3-height) + 24px);
  --wrapper-3-height-desktop: calc(var(--img-3-height) + 30px);
}

.img-wrapper {
  flex: none;
  position: relative;
}

.wrapper-1 {
  top: 60px;
  left: -30px;

  width: var(--wrapper-1-width);
  height: var(--wrapper-1-height);
}

.wrapper-2 {
  top: 0;
  right: -17px;
  width: var(--wrapper-2-width);
  height: var(--wrapper-2-height);
}

.wrapper-3 {
  width: var(--wrapper-3-width);
  height: var(--wrapper-3-height);
}

.img-frame {
  position: absolute;
  z-index: 1;
  border: 2px solid transparent;
  border-radius: var(--img-radius);
  bottom: 0;
  left: 0;
}

.frame-1 {
  width: var(--frame-1-width);
  height: var(--frame-1-height);
}
.frame-2 {
  width: var(--frame-2-width);
  height: var(--frame-2-height);
}
.frame-3 {
  width: var(--frame-3-width);
  height: var(--frame-3-height);
}

.img {
  position: absolute;
  z-index: 2;
  border-radius: var(--img-radius);
  top: 0;
  right: 0;
}

.img-1 {
  width: var(--img-1-width);
  height: var(--img-1-height);
}
.img-2 {
  width: var(--img-2-width);
  height: var(--img-2-height);
}
.img-3 {
  width: var(--img-3-width);
  height: var(--img-3-height);
}
