.slider__control {
  cursor: pointer;
  position: relative;
  display: none;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: rgba(136, 136, 136, 0.1);

  --controls-transform: translate(0, -50%);
  -webkit-transform: var(--controls-transform);
  -moz-transform: var(--controls-transform);
  -o-transform: var(--controls-transform);
  transform: var(--controls-transform);

  --controls-transition: background-color 0.2s ease-out;
  -webkit-transition: var(--controls-transition);
  -moz-transition: var(--controls-transition);
  -o-transition: var(--controls-transition);
  transition: var(--controls-transition);
}

.slider__control:hover {
  background-color: rgba(136, 136, 136, 0.5);
}

#slider__slide-1:checked ~ .slider__controls .slider__control:nth-child(2),
#slider__slide-2:checked ~ .slider__controls .slider__control:nth-child(3),
#slider__slide-3:checked ~ .slider__controls .slider__control:nth-child(4),
#slider__slide-4:checked ~ .slider__controls .slider__control:nth-child(1) {
  float: right;
  display: flex;
}

#slider__slide-1:checked ~ .slider__controls .slider__control:nth-child(4),
#slider__slide-2:checked ~ .slider__controls .slider__control:nth-child(1),
#slider__slide-3:checked ~ .slider__controls .slider__control:nth-child(2),
#slider__slide-4:checked ~ .slider__controls .slider__control:nth-child(3) {
  float: left;
  display: flex;

  -webkit-transform: translate(0, -50%) rotate(180deg);
  -moz-transform: translate(0, -50%) rotate(180deg);
  -o-transform: translate(0, -50%) rotate(180deg);
  transform: translate(0, -50%) rotate(180deg);
}
