.button {
  background-color: #f5a366;
  border-radius: 10px;

  font-family: 'Inter', sans-serif;
  font-weight: 600;
  line-height: 30px;
  color: #fff;

  cursor: pointer;
}

.button:hover {
  background-color: #f0b283;
}
