.button {
  background-color: #f5a366;
  border-radius: 10px;

  font-family: 'Inter', sans-serif;
  font-weight: 600;
  line-height: 30px;
  color: #fff;

  cursor: pointer;

  --button-bg-transition: background-color 0.1s ease-in-out;
  -webkit-transition: var(--button-bg-transition);
  -moz-transition: var(--button-bg-transition);
  -o-transition: var(--button-bg-transition);
  transition: var(--button-bg-transition);
}

.button:hover {
  background-color: #f0b283;
}
