.price__time {
  --price-gradient: 126deg, #abc2e8 0%, #f2bcb9 46.35%, #f5a366 100%;
  background: -webkit-linear-gradient(var(--price-gradient));
  background: -moz-linear-gradient(var(--price-gradient));
  background: -o-linear-gradient(var(--price-gradient));
  background: linear-gradient(var(--price-gradient));

  -webkit-background-clip: text;
  -moz-background-clip: text;
  -o-background-clip: text;
  background-clip: text;

  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  -o-text-fill-color: transparent;
  color: transparent;
}
