.header__button {
  /* display: initial; */
}
@media (min-width: 768px) {
  .header__button {
    width: 200px;
    height: 50px;
  }
}
@media (min-width: 1440px) {
  .header__button {
    width: 225px;
  }
}
