.footer__container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 60px 20px 120px;
  width: 100%;
}
@media (min-width: 768px) {
  .footer__container {
    margin: 60px 30px 120px;
  }
}
@media (min-width: 1440px) {
  .footer__container {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin: 80px 45px 90px;
  }
}
