.how__grid {
  display: none;
}
@media (min-width: 768px) {
  .how__grid {
    display: none;
  }
}
@media (min-width: 1440px) {
  .how__grid {
    display: grid;
    gap: 30px;
    --cell-size: 85px;
    grid-template-columns: var(--cell-size) var(--cell-size) var(--cell-size);
    grid-template-rows: var(--cell-size) var(--cell-size) var(--cell-size);
  }
}
