.frame__border_c {
  bottom: 0;
  left: 0;
  width: 256px;
  height: 361px;
  border-radius: 26px;
}
@media (min-width: 768px) {
  .frame__border_c {
    width: 250px;
    height: 350px;
    border-radius: 18px;
  }
}
@media (min-width: 1440px) {
  .frame__border_c {
    top: 0;
    left: 90px;
    width: 295px;
    height: 445px;
    border-radius: 30px;
  }
}
