.modal__close {
  font-family: 'Inter', sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 500;
  background-color: transparent;
  color: #999;
  border-radius: 5px;
  border: 1px solid #abc2e8;
  padding: 4px 11.5px;
  cursor: pointer;

  --button-bg-transition: background-color 0.1s ease-in-out;
  -webkit-transition: var(--button-bg-transition);
  -moz-transition: var(--button-bg-transition);
  -o-transition: var(--button-bg-transition);
  transition: var(--button-bg-transition);
}

.modal__close:hover {
  background-color: #abc2e8;
}
