.header__title {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  word-spacing: 0.1em;

  --logo-gradient: 270deg, var(--gradient-colors);
  background: -webkit-linear-gradient(var(--logo-gradient));
  background: -moz-linear-gradient(var(--logo-gradient));
  background: -o-linear-gradient(var(--logo-gradient));
  background: linear-gradient(var(--logo-gradient));

  -webkit-background-clip: text;
  -moz-background-clip: text;
  -o-background-clip: text;
  background-clip: text;

  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  -o-text-fill-color: transparent;
  color: transparent;
}
