.title-h5 {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 10px;
  line-height: 13px;
}
@media (min-width: 768px) {
  .title-h5 {
    font-size: 14px;
    line-height: 17.5px;
  }
}
